.reader {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.reader-header {
  line-height: 2.8rem;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
}

.reader-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;

  .card-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: white;
    align-items: center;
    height: 100%;

    .card-des {
      width: 100%;
      height: 12rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--highlight-color);

      > label {
        font-size: 1.7rem;
        font-weight: bold;
        margin: 1rem;
      }
      > .card-info {
        height: 4em;
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        > label {
          height: 100%;
          width: 50%;
          font-size: 1.7rem;
          font-weight: bolder;
          padding-left: 1rem;
          line-height: 4rem;
        }
        > span {
          height: 100%;
          width: 50%;
          font-size: 1.7rem;
          padding-left: 1rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
        }
      }
    }
  }

  .card-image-container {
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    font-size: 4rem;
    color: white;
    background-color: #00ae57;
    margin: 4rem;
  }

  .card-deduction {
    color: var(--color-gs100);
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 50%;
    > label {
      font-size: 1.7rem;
      margin: 1rem;
    }
    > span {
      font-weight: bolder;
      font-size: 5rem;
      text-align: center;
      color: var(--highlight-color);
    }
  }
}
