.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .pill-button {
    margin-top: 2rem;
  }
}
