div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 7.6rem;
  height: 9.8rem;
}
label {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 1.5rem;
}
