:root {
  --pillbutton-height: 3.6rem;
  --default-icon-size: 2.2rem;
  --title-bar-height: 2.8rem;
  --tab-bar-height: 3.6rem;
  --color-gs100: #000000;
  --color-gs90: #323232;
  --color-gs70: #6a6a6a;
  --color-gs45: #8c8c8c;
  --color-gs20: #cccccc;
  --color-gs10: #e6e6e6;
  --color-gs00: #ffffff;
  --highlight-color: #00ae57;

--color-alpha: #333333;
--color-beta: #ffffff;
--color-gamma: #4d4d4d;
--color-delta: #5f5f5f;
--color-epsilon: #858585;
--color-zeta: #a6a6a6;
--color-eta: #c7c7c7;
--color-theta: #e7e7e7;
--color-iota: #f4f4f4;
--color-white: #ffffff;
--color-darkblue: #00539f;
--color-blue: #00caf2;
--color-turquoise: #27c8c2;
--color-darkorange: #e66000;
--color-orange: #ff9500;
--color-yellow: #ffcb00;
--color-violet: #c40c84;
--color-carrotorange: #eb9423;
--color-wathetblue: #005da5;
--color-gold: #ffa000;
--color-gold-pressed: #cc8000;
--color-warning: #fbbd3c;
--color-destructive: #e2443a;
--color-preffered: #00ba91;
--color-gs100: #000000;
--color-gs90: #323232;
--color-gs70: #6a6a6a;
--color-gs45: #8c8c8c;
--color-gs20: #cccccc;
--color-gs10: #e6e6e6;
--color-gs00: #ffffff;
--color-purple: #873eff;
--color-pink: #f6529b;
--color-lime: #82c51b;
--color-cyan: #1cc1c4;
--color-blue: #0da1e1;
--color-orange: #ff8329;
--color-red: #f3203d;
--color-purple-pressed: #6c32cc;
--color-pink-pressed: #bf2392;
--color-lime-pressed: #4f9a0d;
--color-cyan-pressed: #31979e;
--color-blue-pressed: #0a80b4;
--color-orange-pressed: #cc5310;
--color-red-pressed: #c21930;
}

@font-face {
  font-family: 'gaia-icons';
  src: url('/assets/fonts/gaia-icons.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:focus {
  outline: none;
}

[data-icon]:before,
.ligature-icons {
  font-family: 'gaia-icons';
  content: attr(data-icon);
  display: inline-block;
  font-weight: 500;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  outline: none;
  overflow: hidden;
  font-family: 'Open Sans Regular';
  background-color: var(--color-gs00);
  color: #000;
}
